.monitors-container {
  display: flex;
}
.monitors-container div {
  padding: 6px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.monitors-container .left {
  width: 360px;
  min-width: 360px;
}
