nav {
  width: 0;
  color: #172B4D;
  background: #F4F5F7;
  transition: all 0.5s ease;
}
nav.open {
  width: 230px;
}

#brand-visible {
  color: #0052CC;
  padding-left: 30px;
  transform: scale(1);
  transition: all 0.5s ease;
}
#brand-hidden {
  transform: scale(0);
  transition: all 0.5s ease;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}
nav li {
  transform: scale(0);
  transition: all 0.5s ease;
}
nav.open li {
  width: 200px;
  font-size: 14px;
  line-height: 36px;
  padding-left: 30px;
  transform: scale(1);
}
nav.open li:hover {
  cursor: pointer;
  color: #0052CC;
  background: #EBECF0;
}

nav a:hover {
  text-decoration: none;
}

#nav-content-bottom {
  bottom: 0;
  position: fixed;
}
