#container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 10px 9999fr;
  justify-items: start;
  transition: all 0.8s linear;
}

#content {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow-x: auto;
}

#page {
  display: flex;
  flex-direction: column;
  padding: 0 5% 24px;
  float: left; /* required for the padding-right to work properly */
  animation: fadein 400ms;
}
#wide-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadein 400ms;
  overflow-x: hidden;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#settings {
  min-height: 80px;
  display: flex;
  align-items: center;
}

#settings input {
  margin-left: 3em;
}
