html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #fff;
  color: #6B778C;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.005em;
  line-height: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mono {
  font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", "Ubuntu Mono", Menlo, Courier, monospace;
}

h1 {
  font-size: 35px;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 40px;
}

h2 {
  color: #172B4D;
  font-size: 29px;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 32px;
  margin-top: 40px;
}

h4 {
  color: #172B4D;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.008em;
  line-height: 24px;
}

h6 {
  color: #172B4D;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.003em;
  line-height: 16px;
  margin-top: 16px;
  margin-bottom: 0;
}

a {
  cursor: pointer;
  color: #172B4D;
  text-decoration: none;
}
a:hover {
  color: #0052CC;
  text-decoration: underline;
}

input {
  color: #172B4D;
  border: 1px solid #c1c7d0;
  border-radius: 3.01px;
  box-sizing: border-box;
  font-size: inherit;
  margin: 0;
  vertical-align: baseline;
  padding: 4px 5px;
  margin-right: 4px;
}
input[type="number"], input[type="text"] {
  height: 2.14285714em;
  line-height: 1.4285714285714;
}
input[type="number"] {
  width: 5em;
}
input:focus {
  border-color: #5897fb;
}

.chevron {
  width: 14px;
  height: 14px;
  display: inline-block;
  position: relative;
  top: 2px;
  color: #344563;
  background: rgba(9,30,66,.08) url(/chevron.svg) no-repeat top left;
  border-radius: 3.01px;
  margin-right: 5px;
  transition: background-color .1s ease-out;
}
.rotate {
  transform: rotate(-90deg);
}

.clickable {
  cursor: pointer;
}

#kudos {
  animation: colorchange 20s infinite;
}
@keyframes colorchange {
  0% {
    color: #0747A6;
  }
  20% {
    color: #008DA6;
  }
  40% {
    color: #006644;
  }
  60% {
    color: #BF2600;
  }
  80% {
    color: #403294;
  }
  100% {
    color: #0747A6;
  }
}

#centered {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
